.header {
    box-sizing: border-box;
    padding: 0 94px;
    overflow: hidden;

    .headerNav {
        margin-top: 39px;

        .headerNavList {
            display: grid;
            grid-template-columns: repeat(2, 171px) 1fr repeat(2, 171px);
            grid-template-rows: 78px;
        }

    }
}