:root {
  --bg-color: #0B2341;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}
.page {
  height:calc(100% - 117px);
}
